body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav ul li {
    display: inline;
    margin-right: 10px;
}
.nav ul li a {
    color: #343a40;
    text-decoration: none;
}
.content {
    padding-top: 80px; 
}
.main {
    text-align: center;
}
.restaurant-image {
    max-width: 100%;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.gallery-image {
    max-width: 100%;
    margin: 10px;
}
@media screen and (max-width: 600px) {
    .nav ul {
        text-align: center;
    }
    .nav ul li {
        display: block;
        margin-bottom: 10px;
    }
    .content {
        padding-top: 120px; 
    }
    .header {
        padding: 10px 0;
    }
}
